* {
    box-sizing: border-box;
    display: flex;
    height: auto;
    width: auto;
    margin: 0;
    background-repeat: no-repeat;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    margin: 10px;
    height: 12.66%;
    width:  12.66%;
    border: 1px solid violet;
}
body {
    height: auto;
    width: 100%;
    flex-direction: column;
    border: 1px solid green;
}

section {
    padding-top: 24vh;
    height: 100%;
    width: 100%;
    border: 1px solid orange;
}

div#content {
    width: 100%;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    border: 1px solid red;
}

#clock {
    font-size: 110pt;
}

.temperature {
    font-size: 15pt;
    flex-direction: column;
    align-items: center;
}

.temperature-degree {
    font-size: 70pt;
}

.icon {
    height: 150px;
    width: 150px;
}

div#footer {
    padding-top: 28vh;
    align-items: center;
}

#credits {
    padding-left: 10px;
}

#github {
    padding-left: 15px;
}