* {
    box-sizing: border-box;
    display: flex;
    height: auto;
    width: auto;
    margin: 0;
    background-repeat: no-repeat;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

@media only screen and (min-width: 1920) {
    section {
        padding-top: 26vh;
    }
}

header {
    margin: 10px;
    height: 12.66%;
    width:  12.66%;
}
body {
    height: auto;
    width: 100%;
    flex-direction: column;
}

section {
    padding-top: 24vh;
    height: 100%;
    width: 100%;
}

div#content {
    width: 100%;
    justify-content: space-around;
    align-content: center;
    align-items: center;
}

#clock {
    font-size: 110pt;
}

.temperature {
    font-size: 15pt;
    flex-direction: column;
    align-items: center;
}

.temperature-degree {
    font-size: 70pt;
}

#fahrenheit {
    font-size: 25pt;
}

.icon {
    height: 150px;
    width: 150px;
}

div#footer {
    padding-top: 31vh;
    align-items: center;
}

#credits {
    padding-left: 975px;
}

#github {
    width: 70%;
    height: 70%;
    padding-left: 15px;
}